
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container" style="text-align:center">
    <h4 style="color:red">Unbilled Report (Criteria)</h4>
</div>

@using (Html.BeginForm("GenerateUnbilledReport", "Unbilled", FormMethod.Post))
{
    <table style="width:100%">
        <tr>
            <td style="width:30%"></td>
            <td style="width:40%" align="left">
                @Html.DropDownList("CompanyId", ViewBag.Companies as List<SelectListItem>, "Select Company", new { id = "selCompany", @class = "form-control", @style="width:300px" })
            </td>
            <td style="width:30%"></td>
        </tr>

        <tr>
            <td style="width:30%"></td>
            <td style="width:40%" align="left">
                <label class="danger" style="color:red">@ViewBag.Message</label>
            </td>
            <td style="width:30%"></td>
        </tr>

        <tr>
            <td style="width:30%"></td>
            <td style="width:40%" align="left">
                <input type="submit" id="btnReport" name="View" value="View" style="width:100px;color:white;background-color:blue" />
            </td>
            <td style="width:30%"></td>
        </tr>
    </table>
}


